* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.containerContent {
  display: flex;
  flex-direction: column;
}

.perfume {
  color: #808080;
  text-transform: uppercase;
  /* top | right | bottom | left */
  margin: 2em 0 1.25em 1em;
}

.card {
  /* top | right | bottom | left */
  margin: 2em 0 1.25em 1em;
}

img {
  float: left;
  height: 30em;
  width: 30em;
}

@media (max-width: 580px) {
  img {
    min-height: 18em;
    min-width: 23em;
    border-radius: 0.75em;
    text-align: center;
  }
  containerContent {
    display: block;
  }
}

.brand {
  font-size: 2.5em;
  font-weight: 900;
  /* top | right | bottom | left */
  margin: 0.25em 0 0.75em 0.5em;
}
.price {
  font-weight: 700;
  font-size: 1.5em;
  color: #008000;
  /* font-size: 20px; */
  /* top | right | bottom | left */
  margin: 0.25em 0 0.75em 1em;
}

.o_price {
  color: #008000;
}

.cart {
  background-color: #008000;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  /* top | right | bottom | left */
  margin: 0.25em 0 0.75em 2em;
  border-radius: 0.65em;
}

.des {
  color: #808080;
  /* top | right | bottom | left */
  margin: 0 0 1.25em 1.5em;
}

.cart:hover {
  transition: all 0.5s;
}

.cart:active {
  transform: scale(0.8);
}
