@import url("https: //fonts.google.com/specimen/Figtree");

* {
    margin: 0;
    padding: 0;
    font-weight: 600, 800;
}

img {
    margin: 3em 2em;
    width: 40em;
    height: 30em;
}

@media only screen and (max-width: 550px) {
    img {
        max-height: 701px;
        max-width: 490px;
    }

    .attribution {
        text-align: center;
    }

}