@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding-top: 2em;
	font-family: 'Hanken Grotesk', sans-serif;
	font-size: 18px;
}

.card {
	display: flex;
	flex-direction: row;
	min-width: 300vh;
	justify-content: center;
	border-radius: 20px;
	gap: 2em;
}

.left {
	background-color: hsl(252, 100%, 67%);
	/* top | right | bottom | left */
	padding: 20px;
	border-radius: 20px;
	margin: 1em 3em 1em 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.score {
	font-size: 2rem;
}

.grey {
	color: grey;
}

.scorePossible {
	font-size: 12px;
	color: hsl(166, 100%, 37%);
}

.reporting,
.reporting2,
.reporting3,
.reporting4 {
	display: flex;
	gap: 1em;
	flex-direction: row;
}

button {
	color: white;
	background-color: hsl(241, 81%, 54%);
	border-radius: 2em;
	/* top | right | bottom | left */
	padding: 1em 5em 1em 5em;
}

button:hover {
	background-color: hsl(241, 81%, 54%);
	color: black;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
