@import url("(https: //fonts.google.com/specimen/Figtree)");

* {
    /* top | right | bottom | left */
    margin: 4px 5px 4px 3px;
    padding: 4px 5px 4px 3px;
    font-size: 16px;
    font-weight: 600, 800;
    font-family: "Figtree";
    border-radius: 25px;
}