@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #a275cc;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.container .card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 45em;
  background: white;
  margin-bottom: 1.2em;
  padding: 4.2em;
  box-shadow: 0.5em 0.5em #a275cc;
  transition: 0.3s ease-in-out;
  border-radius: 0.95em;
}

.card:hover {
  transform: scale(0.95);
}

.heading_qr {
  display: flex;
  flex-direction: row;
  font-size: 1.7em;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.para {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.25em;
  font-weight: 500;
}

img {
  border-radius: 0.95em;
}

.imgQr:hover img {
  transform: scale(1.01);
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
