@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3em;
  height: 90em;
}

.container .card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 57em;
  background: white;
  margin-bottom: 1.2em;
  padding: 4.2em;
  /* box-shadow: 0.5em 0.5em #a275cc; */
  transition: 0.3s ease-in-out;
  border-radius: 0.95em;
}

/* .card {
  height: 15em;
} */

.heading_qr {
  display: flex;
  flex-direction: row;
  font-size: 3em;
  overflow-wrap: break-word;
  inline-size: 12em;
  font-weight: 700;
}

.para {
  display: flex;
  flex-direction: row;
  margin-top: 1.25em;
  font-size: 2em;
  color: #808080;
  overflow-wrap: break;
  inline-size: 17em;
  font-weight: 500;
}

img {
  border-radius: 0.95em;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
