* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(180, 11%, 2%);
  color: #ffff;
  font-size: 15px;
  font-family: "Fraunces", serif;
  font-family: "Outfit", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: hsl(213, 19%, 18%);
  /* top | right | bottom | left */
  padding: 0 5em 0 5em;
  margin: 0 5em 0 5em;
  border-radius: 5%;
  height: 20em;
  width: 40em;
  box-sizing: border-box;
}

.main-container ul {
  display: flex;
  text-align: center;
  justify-content: space-between;
  list-style-type: none;
}

.main-container img {
  width: 25px;
  height: 25px;
}

.main-container .btn {
  /* top | right | bottom | left */
  padding: 0.25em 1em 0.25em 1em;
  border-radius: 50%;
}

.main-container .btn:focus {
  color: hsl(216, 12%, 54%);
}

.btn:hover {
  color: hsl(25, 97%, 53%);
}

.submit .submitBtn {
  /* top | right | bottom | left */
  padding: 0.25em 1em 0.25em 1em;
  width: 100%;
}

.submitBtn:hover {
  color: hsl(25, 97%, 53%);
}

.submitBtn {
  padding: 1em;
  margin: 1em;
}

.thankyou-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(213, 19%, 18%);
  padding: 0 5em 0 5em;
  margin: 0 5em 0 5em;
  border-radius: 5%;
  height: 20em;
  width: 40em;
  box-sizing: border-box;
}

.rating-thankyou {
  display: inline-block;
  background-color: hsl(217, 12%, 63%);
  /* top | right | bottom | left */
  padding: 0.3rem 1rem 0.3rem 0.3rem;
  color: hsl(25, 97%, 53%);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden{
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
